.item {
    width: 150px;
    height: 150px;
    background-color: crimson;
}

.item:nth-child(2) {
    width: 150px;
    height: 150px;
    background-color:cornflowerblue;
    position: absolute;
    top: 100px;
    left: 125px;
    z-index: 1;
}

.item:nth-child(3) {
    width: 150px;
    height: 150px;
    background-color:darkseagreen;
    position: absolute;
    top: 200px;
    left: 220px;
}


.list {
    position: relative;
}

li,ul {
    list-style: none;
}